.audio-pulse {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 12px;
  width: 12px;
  border-radius: 1000px;
  background-color: #da291c;
}

.audio-pulse.pulse {
  animation: pulseWave 0.5s infinite;
}

@keyframes pulseWave {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
